table {
  border: solid 3px black;
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
}

td {
  height: 28px;
  width: 28px;
  border: solid 1px #828282;
}

.full {
  background-color: #db5b5b;
  box-shadow: inset 0px 0px 0px 2px white;
}
